* {
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: rgb(94, 93, 93) solid 1px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-logo {
  font-size: 25px;
  margin: 0;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
}

span {
  color: #d4af37;
}

.nav-item {
  text-decoration: none;
  color: #000;
  border-left: #d4af37 solid 1px;
  padding: 8px 0 8px 5px;
  margin-right: 10px;
}

#book-list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: 35px;
  margin: 0;
  align-self: center;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 2px 2px;
}

.book-text {
  font-size: 20px;
  margin: 0;
}

#add-book {
  display: none;
}

#contact {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
}

.add-button {
  max-width: 40px;
  align-self: flex-end;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.dt-container {
  margin-top: 38px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #d4af37;
}